/* Styling for the header section */

body {
  padding-top: 85px;
}

header {
  top: 0;
  left: 1%;
  width: 98%;
  margin-top: -85px;
  height: 85px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 0 !important;
  left: 1%;
  width: 98%;
  height: 85px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  z-index: 1;
}

header .title {
  margin-left: 20px;
  flex-grow: 1;
}

header h1 {
  margin: 0;
  font-size: 32px;
  font-family: 'Helvetica Neue', sans-serif;
  padding-left: 7%;
}

nav{
  padding-right: 7%;

}

nav ul {
  display: flex;
  margin: 0;
  list-style: none;
}

nav li {
  padding-inline: 12%;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10%;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: black;
  transition: width 0.1s ease-in-out;
}

nav a:hover::before {
  width: 100%;
}

nav li:not(:last-child) a {
  margin-right: 20px;
}

/* Styles to make the header fixed on scroll */



nav {
  margin-right: 20px;
}

nav ul {
  justify-content: flex-end;
  flex-grow: 1;
}

nav li:not(:last-child) a {
  margin-right: 30px;
}


/* Styling for the main content section */
main {
  max-width: 800px;
  margin-top: 80px;
  margin: 0 auto;
  padding: 20px;

}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}



.gallery-container {
  background-color: whit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#gallery {
  background-color: white;
}
#gallery h2 {
  padding-top: 50px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}


/* Styling for the about section */
.about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.about-text {
  background-color: white;
  text-align: right;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-break {
  width: 100%;
  height: 25px;
  background-color: white;
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  margin-top: -100px
}

.details-item {
  text-align: left;
  background-color: white;
}

.details-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  z-index: -1;
  border-radius: 10px;


}








/* Styling for the contact section */
#contact {
  text-align: center;
}

form textarea {
  height: 200px;
}

/* Styling for the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 768px) {

  /* Styling for small screens */
  main {
    padding: 10px;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }

}
html {
  scroll-behavior: smooth;
}